<article class="post">
  <div>
    <a href="{{post_text}}" target="_blank">{{title}}</a>
  </div>
  <span>({{post_text}})</span>
  <div>
    by
    {{user.username}}
    on
    {{created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} Comments</a>
  </div>
</article>